header{
    color: #fff;
    height: 100vh;
    max-height: 100vh;
}
h1{
    text-align: center;
    margin-top: 125px;
}
.header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 0 2vh;
    z-index: 3;
}

.header-logo {
    display: flex;
    align-items: center;
    text-align: center;

    height: 100%;
    width: 200px;
    max-width: calc(100% - 90px);

    color: #fff;
    background-image: url(./img/logo.png);
    background-size: 275px;
    background-position: top -87px right -36px;
    border: none
}

.header-background{
    background-attachment: fixed;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    padding: 5vh;
    top: -80px;

    background-image: url(./img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.header-background * {
    text-shadow: 0px 0px 15px #000;
}

/* Burger menu */

button {
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.menu {
    padding: 15px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.menu-btn {
    display: block;
    position: absolute;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 2vh;
    top: 30px;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    position: absolute;
    width: 20px;
    height: 3px;
    top: 50%;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -10px;
    
    background: #fff;
    transition: 0.3s;
}

.menu-btn span:before,
.menu-btn span:after {
    content: '';
}

.menu-btn span:before {
    transform: translateY(-5px);
}

.menu-btn-active span {
    height: 0;
}

.menu-btn span:after {
    transform: translateY(5px);
}

.menu-btn-active span:before {
    transform: rotate(45deg);
}

.menu-btn-active span:after {
    transform: rotate(-45deg);
}

.burger-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 20px 0;
    top: -300px;

    background-color: rgba(26, 26, 26, 0.2);
    transition: all 0.3s;
}

.burger-menu-active {
    top: -80px;
    padding-top: 80px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.menu-list>li {
    display: block;

    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px -1px 22px rgba(1, 1, 1, 0.92);
    transition: border 0.3s ease 0.3s;

}



@media (min-width: 768px) {
    .burger-menu-active {
        padding-top: 20px;
    }
}

@media (min-width: 1024px) {
    
    .menu-btn{
        display: none;
    }
    .menu{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -80px;
        height: 80px;
        width: 100%;
        padding-right: 10px;
    }
    .burger-menu {
        position: relative;
        top: 0px;
        padding: 0;
        background-color: rgba(26, 26, 26, 0);
    }
    .menu-list{
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
    }
    .menu-list>li{
        margin: 0 20px;
    }
    .menu-list>li{
        display: block;
        position: relative;
    }

    .menu-list>li::after{
        content:"";
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease;
        transform: translateX(-50%);
    }
    .menu-list>li:hover::after {
        width: 100px;
    }
    .header-background{
        top: -160px
    }
}
