*{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;      /* 16px */
  line-height: 1.6;
  background-color: rgb(94, 6, 6);
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}

img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

h1, h2{
  text-shadow: 0px 0px 15px #000;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem); /* 40–64px */
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);   /* 32–48px */
  position: relative;
  display: block;
  min-width: 20%;
  text-align: center;
  padding-bottom: 20px;
}

h2::before{
  content: '▾';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(94, 6, 6);
  font-size: 40px;
  z-index: 2;
}

h2::after{
  content: "";
  position: relative;
  display: block;
  height: 1px;
  background-color: #fff;
  margin-top: 20px;
  width: 140%;
  left: -20%;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem); /* 24–32px */
}

button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: rgb(111, 15, 15);
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  transition: box-shadow 0.3s ease 0s;
}

@media (min-width: 1024px) {
  button:hover{
    -webkit-box-shadow: 0px 0px 12px 5px  #fff; 
    box-shadow: 0px 0px 12px 5px #fff;
  }
}